@import 'mixins/center';
@import 'font';

html {
  overflow: hidden;
}

body {
  font-size: 10px;
  color: black;
  background-color: #333;
  margin: 0;
  padding: 0;
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  @include center;
}
